:root {
  /*Primary*/
  --teal-200: hsl(179, 47%, 51%);
  --teal-500: hsl(179, 62%, 43%);
  --green-400: hsl(71, 73%, 54%);
  --green-500: hsl(71, 60%, 54%);
  /*Neutral*/
  --teal-100: hsl(204, 43%, 93%);
  --gray-500: hsl(218, 22%, 67%);
  --background: hsl(206.25, 47.06%, 93.33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: var(--background);
  line-height: 1.75;
}

/*Typography*/
h1 {
  color: var(--teal-500);
  font-size: 1.5rem;
}

h2 {
  color: white;
}

h1,
h2 {
  font-size: 1.5rem;
  margin: 0.75em 0;
  font-weight: 400;
}

.gray-txt {
  color: var(--gray-500);
}

.green-txt {
  color: var(--green-400);
  margin: 1em 0;
}

.md-bg p {
  color: white;
}

.price-per {
  color: hsl(181.36, 62.86%, 72.55%);
  letter-spacing: 1px;
}
.price-num {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 0.5em;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*Card*/
.card {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 1em;
}

.card section {
  padding: 0 1.5em 1.5em;
}

/*White bg section*/
.white-bg {
  background-color: white;
}

/* Dark bg section*/
.dark-bg {
  background-color: var(--teal-500);
  color: white;
}

.price-container {
  display: flex;
  align-items: center;
}

.btn {
  background-color: var(--green-400);
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  margin: 1.5em 0 0.5em;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.2);
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--green-500);
}

.btn:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

/*Medium bg section*/
.md-bg {
  background-color: var(--teal-200);
}

/*Desktop version*/
@media screen and (min-width: 768px) {
  .card {
    max-width: 755px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "main main"
      "sub why";
  }

  .white-bg {
    grid-area: main;
  }

  .dark-bg {
    grid-area: sub;
  }

  .md-bg {
    grid-area: why;
  }
}

/*Extra small devices*/
@media screen and (max-width: 375px) {
  .card {
    max-width: 320px;
  }
}
