:root {
  /*Primary*/
  --teal-200: hsl(179, 47%, 51%);
  --teal-500: hsl(179, 62%, 43%);
  --green-400: hsl(71, 73%, 54%);
  /*Neutral*/
  --teal-100: hsl(204, 43%, 93%);
  --gray-500: hsl(218, 22%, 67%);
  --background: hsl(206.25, 47.06%, 93.33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: var(--background);
  line-height: 1.75;
}

/*Typography*/
h1 {
  color: var(--teal-500);
  font-size: 1.5rem;
}

h2 {
  color: white;
}

h1,
h2 {
  font-size: 1.5rem;
  margin: 1em 0;
}

.gray-txt {
  color: var(--gray-500);
}

.green-txt {
  color: var(--green-400);
  margin: 1em 0;
}

.md-bg p {
  color: white;
}
/*Main*/
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card*/
.card {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.card section {
  padding: 0 1.5em 1.5em;
}

/*White bg section*/
.white-bg {
  background-color: white;
}

/* Dark bg section*/
.dark-bg {
  background-color: var(--teal-500);
  color: white;
}

.dark-bg a {
  background-color: var(--green-400);
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  /*#todo add drop shadow*/
}

/*Medium bg section*/
.md-bg {
  background-color: var(--teal-200);
}
